@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

html {
  scroll-behavior: smooth;
  background-color: #282828;
  color: #FFF;
  display: flex;

  /* flex-direction: column-reverse; */
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #111;
  color: white;
  padding: 20px 50px;
}
